#body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 4rem 1rem;
  height: 100vh;
  margin: 0 7px;

  /** Give the page a terminal-style look */
  font-family: monospace;
  background-color: #002B36
}

#main {
  grid-column-start: 1;
  grid-column-end: span 1;
  overflow-y: scroll;
}

#setUidBtn {
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 10;
}

#input {
  grid-row-start: 2;
  grid-row-end: span 1;
  background-color: rgba(0, 255, 255, 0.3);
  color: black;
  resize: none;
}

a {
  font-weight: bold;
  text-decoration: unset !important;
  color: unset !important;
}